<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Polibugs</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/static/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body style="background-image: url('/static/banner.jpg');">
    <nav class="navbar" style="background-color: #311B92; color: #ffffff;"><span></span><a class="navbar-brand mb-0 h1" href="{{ url_for('index') }}">Polibugs</a><span></span></nav>
    <div class="jumbotron jumbotron-fluid" style="background-color: #ffffff; text-align: center;">
        <h1 class="display-4">News at <span style="color: #00b33c"><strong id="jumbotronTitleEnding">Equilibrium.</strong></span></h1>
        <p class="lead">Mission Statement: We strive to provide a nonpartisan tool to provide balanced viewpoints on the news.</p>
        <p>Powered by News API</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <form action="{{url_for('index')}}" method="POST">
                    <div class="form-group">
                        <input class="form-control" name="topic" placeholder="Enter topic" style="width: auto;">
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="websiteAddress" placeholder="Enter news article URL" style="width: auto;">
                    </div>
                    <button type="submit" class="btn btn-light" style="color: #311B92; margin-bottom: 20px;">Balance</button>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid" style="background-color: #ffffff; text-align: center;">
        <h3>Recently Evaluated Articles</h3>
        <div id="recentArticlesList"></div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/4.10.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-messaging.js"></script>

    <script>
        var config = {
          apiKey: "AIzaSyAtc5KoFfGJEi7JsL2DbLKJ_TMw7MqFXOQ",
          authDomain: "polibugs-project.firebaseapp.com",
          databaseURL: "https://polibugs-project.firebaseio.com",
          projectId: "polibugs-project",
          storageBucket: "",
          messagingSenderId: "899329781122"
        };
        firebase.initializeApp(config);
        var database = firebase.database();
        function writeArticlesData(articleId) {
            firebase.database().ref('articles/').set({
                article: articleId
            });
        }
        function readArticlesData() {
            firebase.database().ref('/articles/').once('value').then(function(snapshot) {
                var articleListItem = document.createElement('a');
                articleListItem.href = '' + snapshot.val().article;
                articleListItem.innerText = '' + snapshot.val().article;
                document.getElementById('recentArticlesList').appendChild(articleListItem);
            });
        }
        readArticlesData();
    </script>

    <script>
            var jumbotronTitle = document.getElementById('jumbotronTitleEnding');
            setInterval(function() {
                switch (jumbotronTitleEnding.textContent) {
                    case "Equilibrium.":
                        jumbotronTitleEnding.textContent = "Balance.";
                        jumbotronTitleEnding.style.color = "#00b33c";
                        break;
                    case "Balance.":
                        jumbotronTitleEnding.textContent = "Symmetry.";
                        jumbotronTitleEnding.style.color = "#00b33c";
                        break;
                    case "Symmetry.":
                        jumbotronTitleEnding.textContent = "Equipoise.";
                        jumbotronTitleEnding.style.color = "#00b33c";
                        break;
                    case "Equipoise.":
                        jumbotronTitleEnding.textContent = "Parity.";
                        jumbotronTitleEnding.style.color = "#00b33c";
                        break;
                    case "Parity.":
                        jumbotronTitleEnding.textContent = "Equilibrium.";
                        jumbotronTitleEnding.style.color = "#00b33c";
                        break;
                }
            }, 4000)
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>